.box {
  border: 2px solid #00eeff;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  max-width: 900px;
  min-width: 500px;
}

h1 {
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  border-radius: 15px;
  color: #000000;
  background-color: #00eeff;
}

h2 {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  border-radius: 15px;
  color: #00eeff;
}

hr {
  margin: 10px;
  border: 2px solid #00eeff;
  border-radius: 15px;
}

span {
  margin: 0 10px;
  padding: 5px 25px;
  font-size: 30px;
  border-radius: 15px;
  color: #00eeff;
}

input {
  margin: 15px 0px 15px 0px;
  padding: 15px;
  font-size: 20px;
  border: 2px solid #00eeff;
  outline: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  color: #00eeff;
  text-transform: capitalize;
  background-color: #000000;
}

button {
  margin: 15px 0px 15px 0px;
  padding: 15px;
  font-size: 20px;
  border: 2px solid #00eeff;
  background-color: #00eeff;
  color: #000000;
  outline: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #000000;
  color: #00eeff;
}

.box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  outline: none;
  border-radius: 15px;
  transition: all 0.3s ease;

}

.btn1 {
  background-color: green;
  border: 2px solid green;
}

.btn2 {
  background-color: red;
  border: 2px solid red;
}

.btn1:hover,
.btn2:hover {
  color: #ffffff;
}